* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  text-align: right;
  padding: 16px 40px;
}

.nav-link {
  color: #5f6368;
  font-size: 12px;
  text-decoration: none;
  margin-left: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-img {
  width: 14px;
}

.nav-button {
  color: #ffffff;
  background-color: #4285f4;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 12px;
}

.main {
  margin-top: 200px;
}

.main-img {
  display: block;
  max-width: 320px;
  margin: 0 auto;
}

.input {
  display: block;
  width: 480px;
  background-image: url("search-icon.png");
  background-position: 16px 12px;
  background-repeat: no-repeat;
  background-size: 14px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  font-size: 16px;
  margin: 20px auto;
  padding: 10px 20px 10px 40px;
  outline: none;
}

.button-wrap {
  text-align: center;
}

.button {
  display: inline-block;
  color: #5f6368;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  margin-top: 100px;
  bottom: 0;
  left: 0;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: absolute;
}

.link-wrap {
  display: inline-block;
  width: 50%;
  list-style-type: none;
  padding: 0;
}

.link-wrap:last-child {
  text-align: right;
}

.link-wrap li {
  display: inline-block;
  margin-right: 24px;
}

.link-wrap li:last-child {
  margin-right: 0;
}

.link {
  color: #5f6368;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
